.App-header {
  background-color: #494e5727;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 2vmin);
  color: #fcfcfc;
}

.App-header .headerName {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid #086b60 2px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5vh;
  height: 20px;
  background-color: #494e570e;
}

.navbar .navbarItem {
  margin: 3px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fcfcfc;
  text-decoration: none;
}

.navbar .navbarItem:hover {
  color: #016170;
}

.appContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82vh;
}

.appContainer .uploadCSVButton {
  padding: 5px;
}

.appContainer .sideBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fcfcfc;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: 14%;
  min-width: 150px;
  margin: 3px;
  margin-top: 10px;
  padding: 10px;
  padding-top: 2px;
}

.appContainer .sideBar .listContainer {
  border: solid #086b60 2px;
  background-color: #494e570e;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  width: 100%;
  height: 60vh;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.appContainer .sideBar .listContainer .titles {
  text-transform: uppercase;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.2em;
  font-weight: 500;
}

.appContainer .sideBar .listContainer .studentListView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  border-radius: 20px;
  cursor: pointer;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .listItem {
  color: #016170;
  background-color: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  list-style: none;
  border: solid #086b60 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 80%;
  text-decoration: none;
  border-radius: 20px;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .listItem:hover {
  background-color: #494e570e;
  color: #016170;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .checkbox {
  margin-left: 5px;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #086b60;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .checkbox:checked {
  background-color: #086b60;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .studentProp {
  color: #016170;
  text-decoration: none;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  margin-left: 10px;
  text-align: start;
  padding-top: 4px;
  padding-bottom: 4px;
}

.appContainer .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.appContainer .contentContainer .grafic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  height: 75vh;
  width: 200%;
  margin-right: 2%;
  margin-bottom: 5%;
  overflow: hidden;
  background-color: #494e570e;
}

.appContainer .contentContainer .grafic .barChart {
  height: 500px;
  color: #fcfcfc;
}

.appContainer .contentContainer .grafic .barChart .ChartTitle {
  text-align: center;
}

.appContainer .contentContainer .grafic .barChart .VictoryContainer {
  height: 400px;
}

.appContainer .contentContainer .grafic .barChart .VictoryContainer svg {
  color: #fcfcfc;
}
/*# sourceMappingURL=HeaderSidebarContentContainer.css.map */