.App-header {
  background-color: #282c34;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 2vmin);
  color: #efefef;
}

.App-header .logo {
  position: -webkit-sticky;
  position: sticky;
  margin-left: 50px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  min-width: 160px;
  padding-left: 10px;
  padding-right: 10px;
}

.App-header .logo img {
  width: 10vh;
  height: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.App-header .headerName {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid #086b60 2px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5vh;
  height: 20px;
  background-color: #282c34;
}

.navbar .navbarItem {
  margin: 3px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #efefef;
  text-decoration: none;
}

.navbar .navbarItem:hover {
  color: #016170;
}

.appContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #282c34;
  height: 82vh;
}

.appContainer .sideBar {
  background-color: #282c34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #efefef;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: 14%;
  min-width: 150px;
  margin: 3px;
  margin-top: 10px;
  padding: 10px;
  padding-top: 2px;
}

.appContainer .sideBar .listContainer {
  background-color: #282c34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  width: 100%;
  height: 70vh;
  border: solid #086b60 2px;
  margin-bottom: 5px;
  padding: 5px;
}

.appContainer .sideBar .listContainer .titles {
  text-transform: uppercase;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.appContainer .sideBar .listContainer .studentListView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  cursor: pointer;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .listItem {
  color: #016170;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
  list-style: none;
  border: solid #086b60 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 80%;
  text-decoration: none;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .listItem:hover {
  background-color: #282c34;
  color: #016170;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .checkbox {
  margin-left: 5px;
}

.appContainer .sideBar .listContainer .studentListView .studentNameList .studentProp {
  color: #016170;
  text-decoration: none;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  margin-left: 10px;
  text-align: start;
  padding-top: 2px;
  padding-bottom: 2px;
}

.appContainer .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.appContainer .contentContainer .grafic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  height: 85%;
  width: 400%;
  margin-right: 2%;
  margin-bottom: 5%;
  overflow: hidden;
  background-color: #282c34;
}

.appContainer .contentContainer .grafic .barChart {
  height: 500px;
  color: #efefef;
}

.appContainer .contentContainer .grafic .barChart .ChartTitle {
  text-align: center;
}

.appContainer .contentContainer .grafic .barChart .VictoryContainer {
  height: 400px;
}

.appContainer .contentContainer .grafic .barChart .VictoryContainer svg {
  color: #efefef;
}
/*# sourceMappingURL=HeaderSidebarContentContainer.css.map */